@model IEnumerable<Mvc5Demo.Home.HomeViewModel>

@{
  ViewBag.Title = "All";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All</h2>
<hr />

<div>
  <table class="table">
    <thead>
      <tr>
        <th>@Html.DisplayNameFor(model => model.name)</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model) 
      {
        <tr>
          <td>@Html.DisplayFor(modelItem => item.name)</td>
          <td>@Html.ActionLink("details", "Details", "Home", new { id = item.name }, null);</td>
        </tr>
      }
    </tbody>
  </table>
</div>
